<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Add Vue to Vanilla HTML</title>
  <script src="https://unpkg.com/vue@3"></script>
  <script src="assets/js/navLinks.js" type="text/javascript"></script>
</head>
<body>
  <nav id="app">
    <ul>
      <li v-for="route in routes" :key="route"><a :href="route.path">{{ route.name }}</a></li>
    </ul>
  </nav>
  <header>
    <h1>Static HTML Page</h1>
    <p>This is an html page with no npm installed packages</p>
  </header>
  <main>
    <h2>A Second Level Title</h2>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Possimus aliquid inventore alias dolores quae incidunt consectetur a quaerat distinctio tempore! Quaerat cupiditate, magnam eveniet velit placeat optio praesentium ullam harum consectetur eligendi sunt assumenda similique facilis earum cumque modi suscipit aliquid laborum unde ipsum. Doloremque, enim temporibus ut explicabo inventore atque corrupti voluptatibus est totam distinctio fugit esse quaerat nemo. Inventore dolorem quidem sapiente nihil tenetur accusantium harum obcaecati deserunt odio illo repellendus iste et eius quaerat, laborum libero soluta debitis dolores voluptatem natus. Natus ratione neque, ea earum magni sapiente commodi nulla quisquam nemo temporibus, accusantium, ad aliquam voluptatem!</p>
  </main>

  <script>
    const { createApp } = Vue
    createApp({
      data() {
        return {
          routes: [
            {
              path: "https://getfedora.org",
              name: "Get Fedora",
            },
            {
              path: "https://start.fedoraproject.org",
              name: "Start",
            },
            // Editions Pages
            {
              path: "https://getfedora.org/workstation",
              name: "Workstation",
            },
            {
              path: "https://getfedora/iot",
              name: "IoT",

            },
            {
              path: "https://getfedora/server",
              name: "Server",
            },
            // Emerging Editions Pages
            {
              path: "https://getfedora.org/en/coreos",
              name: "Core OS",
            },
            {
              path: "https://getfedora.org/silverblue",
              name: "Silverblue",
            },
            // Labs
            {
              path: "https://labs.fedoraproject.org/games",
              name: "Games",
            },
            {
              path: "https://labs.fedoraproject.org/scientific",
              name: "Scientific",
            },
            // spins
            {
              path: "https://spins.fedoraproject.org/kde",
              name: "KDE",
            },
            {
              path: "https://spins.fedoraproject.org/xfce",
              name: "XFCE",
            },
          ],
        }
      }
    }).mount('#app')
  </script>
  </body>
  
  </html>